@import "/_vars.scss";
html,
body {
    font-family: $Raleway;
    line-height: 1.5em;
    font-size: 16px;
    @media screen and (min-width: 1444px) {
        font-size: 20px
    }
}

p {
    max-width: 568px;
}

h1,
h2,
h3,
h4 {
    font-family: $OpenSans;
    font-weight: 700;
}

h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 1.8em
}

p {
    margin-bottom: 1em;
}

a svg {
    vertical-align: middle;
}
