// colors
$accentColor = #0056b3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem


.theme-container.home-override .content {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.theme-container.home-override .page {
  margin: 0;
  padding: 0;
}
.theme-container.home-override .page-edit {
  display: none;
}